body {
    background-image: url(./white-abstract-background-design_23-2148825582.avif);
}
.smit {
  color: black;
  font-size: 40px;
  text-decoration: underline;
}
  

.assign {
  color: black;
  font-size: 40px;
  text-decoration: underline;
}

.box1{
    background: black;
    margin: 20px;
    padding: 20px;
    width: 700px;
    height: 300px;
    display: flex;
    justify-content: center; 
    align-items: center;    
    border: 5px solid white;
    border-radius: 10px;
    margin: 0 auto;
    box-shadow: 5px 10px 25px #000000;
}
.box2{
   background: black;
    padding: 20px;
    width: 700px;
    height: 300px;
    display: flex;
    justify-content: center; 
    align-items: center;    
    border: 5px solid white;
    border-radius: 10px;
   margin: 20px;
   margin: 0 auto;
   box-shadow: 5px 10px 25px #000000;
}


.box3{
    background: black;
    padding: 20px;
    width: 700px;
    height: 300px;
    display: flex;
    justify-content: center; 
    border: 5px solid white;
    border-radius: 10px;
     margin: 20px;
    align-items: center;
    margin: 0 auto;
    box-shadow: 5px 10px 25px #000000;
}
.box4{
    background: black;
    padding: 20px;
    width: 700px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;     
    border: 5px solid white;
    border-radius: 10px;
     margin: 20px;
     margin: 0 auto;
     box-shadow: 5px 10px 25px #000000;
}
.box5{
  background-color: black;
    padding: 20px;
    width: 700px;
    height: 300px;
    display: flex;
    justify-content: center; 
    align-items: center;    
    border: 5px solid white;
    border-radius: 10px;
     margin: 20px;
     margin: 0 auto;
     box-shadow: 5px 10px 25px #000000;
}
button{
    left: 60px;
    position: relative;
    top: 95px;
    border: 1px solid black;
    color: white;
    background-color: purple;
    border-radius: 20px;
    height: 30px;
    margin-right: 30px;
    font-size: 20px;
  }
     
button:hover{
    background-color: red;
}
img{
    font-size: 70px;
    position: relative;
    top: -10px;
}
   




  
 

    
  


  